#containerPlayerChoser {
    -fx-alignment: top_center;

    -fx-background-image: url("../images/HubImage/background.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

#backBtnContainer {
    -fx-alignment: top_left;
}

#statPanel {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 5;
    -fx-border-color: gold;
}